@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

body,
html {
  @apply font-Lato text-secondary scroll-smooth;
  overflow: hidden !important;
}

body {
  // @apply h-screen w-screen;
  a {
    @apply cursor-pointer z-[5];
  }

  // p {
  //   &:hover {
  //     @apply transition-all;
  //     text-shadow: 1px 1px 2px currentColor;
  //   }
  // }

  #root {
    @apply h-screen scroll-smooth scroll-p-2 overflow-x-hidden snap-y snap-mandatory relative max-w-[390px] mx-auto;
    section,
    header,
    footer {
      // scroll-snap-align: start;
    }
  }

  // .cursor {
  //   @apply h-[30px] z-[4] transition-[cursor] bg-tertiary duration-200 aspect-[1/1] ease-out border rounded-full fixed;
  // }
}

label {
  @apply text-secondary;
}

input,
textarea {
  @apply border-[1px] outline-none text-lg text-secondary border-tertiary rounded-md px-2 py-1 transition-all duration-[0.3s];
  resize: none;

  &:focus {
    @apply border-secondary shadow-md;

    &::placeholder {
      @apply transition-all duration-[0.3s];
    }
  }

  &::placeholder {
    @apply font-[300] text-gray-400;
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  // &:hover {
  //   width: 0.5rem;
  //   height: 0.5rem;
  // }
}

/* Track styles */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle styles */
::-webkit-scrollbar-thumb {
  @apply bg-green-600;
  border: 1px solid theme('colors.green.600');
  border-radius: 5px;

  &:hover {
    @apply bg-tertiary;
  }
}

svg {
  .hand {
    animation: handMoving 0.6s infinite ease-in-out alternate;
  }

  .text {
    // @apply animate-pulse;
  }

  .bracket,
  .operator {
    animation: bouncing 1s infinite ease-out alternate;
  }

  .operator:nth-child(even) {
    animation-delay: 0.2s;
  }

  .setting {
    animation: handMoving 1s infinite ease-in-out alternate;
  }

  .circle {
    // @apply animate-bounce;
  }

  &:hover {
    // .object,
    .object {
      rect {
        @apply transition-all duration-300 fill-primary;
      }
      path {
        @apply fill-tertiary animate-pulse;
        &.diff {
          @apply fill-primary;
        }
      }
    }
  }
}

@keyframes handMoving {
  from {
    transform: skew(0deg, 2deg);
  }
  to {
    transform: skew(0deg, 0deg);
  }
}

@keyframes bouncing {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes cursor {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.7);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(1) translate(0, 0);
  }
  to {
    transform: scale(1.2) translate(-8%, -3%);
  }
}
