@use '../partials/variables' as var;
@use '../partials/responsive' as res;
@use '../partials/mixin' as mix;

//footer
.footer {
  border-top: 1px solid var.$border-color;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  @include mix.py(var.$space_6);
  h4 {
    position: absolute;
    text-align: center;
    @include mix.px(var.$space_4);
    left: 13%;
    left: 13%;
    @include res.large-mobile {
      left: 24%;
      right: 24%;
    }
    @include res.tablet {
      left: 27%;
      right: 27%;
    }
    @include res.laptop {
      left: 35%;
      right: 35%;
    }
    @include res.desktop {
      left: 38%;
      right: 38%;
    }
    top: -8px;
    background-color: var.$primary-color;
    font-size: 0.8em;
    color: var.$tertiary-color;
  }
  a {
    margin-bottom: var.$space_2;
  }
}

//endfooter
