@use '../partials/variables' as var;
@use '../partials/responsive' as res;
@use '../partials/mixin' as mix;

//footer
.footer {
  border-top: 1px solid var.$border-color;
  position: relative;
  display: flex;
  justify-content: center;
  @include mix.py(var.$space_14);
  h4 {
    position: absolute;
    font-weight: bold;
    text-align: center;
    @include mix.px(var.$space_4);
    left: 13%;
    left: 13%;
    @include res.large-mobile {
      left: 24%;
      right: 24%;
    }
    @include res.tablet {
      left: 27%;
      right: 27%;
    }
    @include res.laptop {
      left: 35%;
      right: 35%;
    }
    @include res.desktop {
      left: 36%;
      right: 36%;
    }
    top: -8px;
    background-color: var.$primary-color;
    font-size: 0.8em;
    color: var.$tertiary-color;
  }
  a {
    margin-bottom: var.$space_2;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: var.$space_10;

    @include res.laptop {
      flex-direction: row;
    }

    ul {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: var.$space_3;

      &.navigation {
        @include res.laptop {
          display: none;
        }
      }

      @include res.laptop {
        align-items: flex-start;
      }

      li {
        p {
          display: flex;
          align-items: center;
          gap: var.$space_2;
        }
        a {
          display: flex;
          align-items: center;
          gap: var.$space_2;
          overflow: hidden;
          position: relative;
          width: fit-content;

          // &::after {
          //   display: block;
          //   content: '';
          //   margin-top: var.$space_1;
          //   border-bottom: 2px solid var.$tertiary-color;
          //   transition: var.$transition;
          //   transform: translateX(-105%);
          // }

          &:hover {
            // padding-left: var.$space_2;
            transform: scale(1.3);
            color: var.$tertiary-color;
            // &::after {
            //   transform: translateX(0);
            // }
          }
        }
      }
    }
  }
  .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    max-width: 300px;
    @include res.desktop {
      @include mix.py(var.$space_4);
    }
    img {
      aspect-ratio: 1 / 1;
      width: 25px;
      @include res.desktop {
        width: 35px;
      }
    }
  }
}

//endfooter
