@use '../partials/responsive' as res;

#root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  #scroll-container {
    height: 100%;
    width: 100%;
    position: relative;
    .scroll-content {
      > .container {
        margin-left: 40px;
        height: 100%;
        width: calc(100% - 12%);
        overflow-y: hidden;
        overflow-x: hidden;
        // @include px($space_4);
        @include res.tablet {
          margin-left: 60px;
          width: calc(100% - 60px);
        }

        @include res.desktop {
          margin-left: 80px;
          width: calc(100% - 80px);
        }
      }
    }
  }
}
