@use '../partials/variables' as var;

.loading {
  position: fixed;
  inset: 0;
  background-color: var.$primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  .image {
    width: 70%;
    max-width: 250px;
    img {
      max-width: 100%;
      display: block;
    }
  }
}
