@use '../partials/variables' as var;
@use '../partials/responsive' as res;
@use '../partials/mixin' as mix;

//worksection
.section.work {
  position: relative;

  .section-content {
    .description {
      margin-bottom: var.$space_12;
      @include res.tablet {
        margin-bottom: var.$space_20;
      }
    }

    .name {
      font-size: 15px;
      @include res.laptop {
        font-size: 18px;
      }
    }

    .github-link {
      color: var.$secondary-light-color;
      &:hover {
        color: var.$tertiary-color;
      }
    }

    .container {
      margin-left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: var.$space_14;

      .title-container {
        // display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: var.$space_4;
        .title {
          a {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            svg {
              font-size: 20px;
            }
            // &:hover svg {
          }
          //   transform: scale(1.2);
          // }
        }
      }

      span.swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: var.$secondary-light-color;
        opacity: 1;
      }

      .swiper-pagination-bullet {
        background-color: var.$border-color;
        opacity: 1;
      }

      .techno-container {
        display: flex;
        @include mix.my(var.$space_4);
        gap: var.$space_2;
        ul {
          // @include mix.my(var.$space_6);
          display: flex;
          gap: var.$space_2;
          flex-wrap: wrap;
          li {
            font-size: 0.9em;
          }

          &.techno {
            font-size: smaller;
            display: flex;
            // flex-direction: column;
          }
        }
      }

      .links {
        margin-left: var.$space_1;
        display: flex;
        gap: var.$space_4;
        li {
          a {
            font-size: 20px;
            display: inline-block;
            &:hover {
              transform: scale(1.2);
            }

            @include res.tablet {
              font-size: 23px;
            }

            @include res.desktop {
              font-size: 26px;
            }
          }
        }
      }

      .row {
        .box {
          @include mix.box;
          // padding-bottom: var.$space_20;
          padding: 0;
          display: flex;
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;

          @include res.tablet {
            flex-direction: row-reverse;
            align-items: stretch;
            padding-right: 0;
          }

          @include res.laptop {
            padding-top: 0;
            padding-left: 0;
            min-height: 300px;
          }

          @include res.desktop {
            min-height: 350px;
          }

          .details {
            // flex-basis: 50%;
            position: relative;
            width: 100%;
            @include mix.px(var.$space_4);
            padding-top: var.$space_8;
            padding-bottom: var.$space_8;
            @include res.tablet {
              width: 50%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }

            @include res.desktop {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }

            .total-samples {
              position: absolute;
              font-style: italic;
              top: var.$space_1;
              left: 0;
              right: 0;
              text-align: center;
              @include res.tablet {
                // bottom: var.$space_1;
                // top: unset;
                display: none;
              }
            }
          }

          .image-container {
            // max-width: 400px;
            background: var.$white;
            // backdrop-filter: blur(5px);
            border-bottom: 1px solid var.$border-color;
            flex-basis: 50%;

            max-width: 100%;

            @include res.tablet {
              // height: 100%;
            }

            @include res.tablet {
              width: 50%;
            }
            .images {
              display: flex;

              @include res.tablet {
                height: 100%;
              }
              @include res.laptop {
                // max-height: 400px;
              }

              .ant-image {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;

                @include res.tablet {
                  align-items: center;
                }
                img {
                  object-fit: fill;
                  object-position: center;
                  max-height: 100%;
                  max-width: 100%;
                  display: block;
                  height: 200px;
                  // width: 100%;
                  width: auto;

                  @include res.large-mobile {
                    height: 250px;
                  }

                  @include res.tablet {
                    // width: 100%;
                    height: 100%;
                    max-height: 310px;
                  }

                  @include res.desktop {
                    max-height: 350px;
                  }
                }
              }
            }
          }
        }

        p:first-child {
          color: var.$secondary-light-color;
          font-size: 1.2em;
          margin-bottom: var.$space_1;
        }

        p.type {
          margin-bottom: var.$space_4;
        }
        @for $i from 1 to 10 {
          &:nth-child(#{$i}) {
            animation-delay: ($i + 1) * 100ms;
          }
        }
        &:nth-child(even) {
          @include res.tablet {
            .box {
              flex-direction: row;
            }

            .details {
              align-items: flex-end;
            }

            .techno {
              justify-content: flex-end;
            }

            .links {
              flex-direction: row-reverse;
            }
          }
        }
      }
    }

    .work-container {
      display: flex;
      flex-direction: column;
      gap: var.$space_8;

      @include res.large-mobile {
        gap: var.$space_10;
      }

      @include res.tablet {
        gap: var.$space_20;
      }

      .work-box {
        max-width: 900px;
        @include mix.box;
        @include mix.px(var.$space_4);
        padding-top: var.$space_8;
        padding-bottom: var.$space_8;
        width: 100%;

        @include res.tablet {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 90%;
        }

        .title {
          color: var.$secondary-light-color;
          font-size: 1.2em;
          // margin-bottom: var.$space_4;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .company {
          font-size: smaller;
        }
        .techno-container {
          flex-wrap: wrap;
          display: flex;
          gap: var.$space_2;
          p {
            font-size: smaller;
          }
        }
      }
      .no-project {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          gap: var.$space_2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          img {
            max-width: 150px;
            width: 40%;
            display: block;
          }
          .text {
            // 21406C
            cursor: default;
            color: #385a89;
          }
        }
      }

      &:nth-child(even) {
        @include res.tablet {
          .work-box {
            &:nth-child(even) {
              align-self: flex-end;
              align-items: flex-end;

              .title-container {
                text-align: right;
                .title {
                  justify-content: right;
                }
              }
            }
          }
        }
      }
    }
  }
}
//endworksection
