@use '../partials/variables' as *;
@use '../partials/mixin' as *;
@use '../partials/animation' as *;

nav {
  text-align: end;
  @include mx($space_1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .menu-container {
    padding-top: $space_2;
    @include px($space_4);
    padding-left: calc(10% + $space_4);
    text-align: start;
    position: fixed;
    inset: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: $space_5;
    align-items: flex-start;
    background-color: $primary-light-color;
    transform: translateX(100%);
    transition: $transition;

    &::before {
      display: block;
      content: '';
      width: 10%;
      z-index: 10;
      background-color: red;
    }

    &.show {
      transform: translateX(0);
    }

    .close {
     margin-bottom: $space_4; 
    }

    ul {
      overflow: hidden;
      width: 100%;
      li {
        margin-bottom: $space_6;
        a {
          display: block;
          width: fit-content;
          overflow: hidden;
          font-size: 1.2em;

          &::after {
            display: block;
            content: '';
            margin-top: $space_1;
            border-bottom: 2px solid $tertiary-color;
            transition: $transition;
            transform: translateX(-105%);
          }


          &:hover {
            
            padding-left: $space_2;
            transform: scale(1.3);
            &::after {
              transform: translate(0);
            }
            
            // span {
            //   display: inline-block;
            //   animation: scaleUp 0.600s infinite;
            //   transition: all 200ms ease-in;
            //   margin-right: $space_1;
            //   &:nth-child(2) {
            //     animation-delay: 200ms;
            //   }
            //   &:nth-child(3) {
            //     animation-delay: 250ms;
            //   }
            //   &:nth-child(4) {
            //     animation-delay: 300ms;
            //   }
            //   &:nth-child(4) {
              //     animation-delay: 350ms;
              //   }
              //   &:nth-child(5) {
                //     animation-delay: 400ms;
                //   }
                //   &:nth-child(6) {
            //     animation-delay: 450ms;
            //   }
            // }
          }

          &.expe {
            &:hover {
              padding-left: $space_3;
            }
          }
        }

        &:last-child {
          margin-top: auto;
        }
      }
    }

    .btn.resume {
      margin-top: auto;
      &:hover {
        color: $white;
        svg {
          animation: sliteRotate 0.300s ease-in-out infinite;
        }
      }
    }
  }
}