@use '../partials/variables' as *;
@use '../partials/mixin' as *;
@use '../partials/animation' as *;
@use '../partials/responsive' as *;

nav {
  text-align: end;
  @include mx($space_1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  @include laptop {
    position: relative;
    padding-top: $space_2;
    @include mx(calc($space_24 + $space_4));
  }

  > button {
    @include px($space_1);
    padding-top: $space_1;
    @include laptop {
      display: none;
    }
  }

  .menu-container {
    padding-top: $space_2;
    @include px($space_4);
    padding-left: calc(12% + $space_4);
    text-align: start;
    position: fixed;
    inset: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: $space_5;
    align-items: flex-start;
    background-color: $primary-light-color;
    transform: translateX(100%);
    transition: $transition;
    @include tablet {
      padding-left: calc(80px + $space_4);
    }
    @include laptop {
      padding-left: $space_8;
      transform: translateX(calc(100% - $space_24));
      background-color: $primary-color;
    }
    @include desktop {
      transform: translateX(calc(100% - $space_32));
    }
    @include large-desktop {
      transform: translateX(calc(100% - $space_48));
    }
    &::before {
      display: block;
      content: '';
      width: 10%;
      z-index: 10;
      // background-color: red;
      @include laptop {
        display: none;
      }
    }

    &.show {
      transform: translateX(0);
      @include laptop {
        transform: translateX(calc(100% - $space_24));
      }
    }

    .close {
      padding-top: $space_1;
      margin-bottom: $space_4;
      @include laptop {
        display: none;
      }
    }

    ul {
      overflow: hidden;
      width: 100%;
      @include laptop {
        display: flex;
        flex-direction: column;
        gap: $space_6;
        margin-top: auto;
        padding-top: 15%;
        margin-bottom: auto;
      }
      li {
        margin-bottom: $space_6;
        @include laptop {
          background-color: $primary-color;
        }
        a {
          display: block;
          width: fit-content;
          overflow: hidden;
          font-size: 1.2em;

          @include laptop {
            writing-mode: vertical-rl;
            // text-orientation: upright;
            font-size: 1em;
          }
          @include desktop {
            font-size: 1.2em;
          }

          &::after {
            display: block;
            content: '';
            margin-top: $space_1;
            border-bottom: 2px solid $tertiary-color;
            transition: $transition;
            transform: translateX(-105%);
            @include laptop {
              transform: translateY(-110%);
              border-left: 2px solid $tertiary-color;
              margin-top: 0;
              margin-left: 0;
              margin-right: $space_1;
            }
          }

          &:hover {
            padding-left: $space_2;
            transform: scale(1.3);
            @include laptop {
              transform: scale(1);
            }
            &::after {
              transform: translateX(0);
              @include laptop {
                transform: translateY(0);
              }
            }
          }

          &.expe {
            &:hover {
              padding-left: $space_3;
            }
          }
        }

        &:last-child {
          margin-top: auto;
        }
      }
    }

    .btn.resume.mobile {
      margin-top: auto;
      width: max-content;
      &:hover {
        color: $white;
        svg {
          animation: sliteRotate 0.3s ease-in-out infinite;
        }
      }
      @include laptop {
        display: none;
      }
    }
  }
  .section-content {
    display: none;
    @include laptop {
      display: inline-block;
    }
    .btn.resume.desktop {
      margin-top: $space_4;
      width: max-content;
      &:hover {
        color: $white;
        svg {
          animation: sliteRotate 0.3s ease-in-out infinite;
        }
      }
    }
  }
}
