//sidebar
@use '../partials/variables' as *;
@use '../partials/responsive' as *;

.sidebar {
  // width: 12%;
  width: 40px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $primary-light-color;
  align-items: center;
  border-right: 1px solid $border-color;
  padding: {
    top: $space_1;
    bottom: $space_1;
  }

  @include mobile {
    width: 12%;
    max-width: 40px;
  }

  @include tablet {
    max-width: 60px;
  }
  @include desktop {
    max-width: 80px;
  }

  .logo-container {
    padding-top: $space_2;
    width: 100%;
    @include tablet {
      width: 80%;
    }
    .logo {
      width: 100%;
      max-width: 100%;
      display: block;
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: $space_6;

    a {
      font-size: 25px;
      transition: $transition;
      @include large-mobile {
        font-size: 25px;
      }
      @include tablet {
        font-size: 28px;
      }

      span {
        transition: $transition;
        display: inline-block;
      }

      &:hover span {
        color: $tertiary-color;
        transform: scale(1.2);
      }

      .codewarsicon {
        background-color: $secondary-color;
        color: $primary-light-color;
        &:hover {
          background-color: $tertiary-color;
        }
      }

      &:nth-child(1) {
        animation-delay: 600ms;
      }
      &:nth-child(2) {
        animation-delay: 800ms;
      }
      &:nth-child(3) {
        animation-delay: 1000ms;
      }
      &:nth-child(4) {
        animation-delay: 1200ms;
      }
    }
  }
}

//endsidebar
