@use './variables' as var;
@use './mixin' as mix;
@use './responsive' as res;
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  @include mix.font-family;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  overflow-x: hidden !important;
}

body {
  // @include mobile {
  //     background: var.$secondary-color;
  // }
  // height: 100%;
  width: 100%;
  font-size: 14px;
  @include res.tablet {
    font-size: 18px;
  }
  @include res.desktop {
    font-size: 20px;
  }
  background-color: var.$primary-color;
  color: var.$secondary-color;
  overflow-x: hidden !important;
}

@for $index from 1 to 6 {
  h#{$index} {
    font-size: inherit;
    font-weight: inherit;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
  transition: var.$transition;
  cursor: pointer;
  &:not(.ex):hover {
    color: var.$tertiary-color;
  }
}

ul,
ol {
  list-style-type: none;
}

button {
  background: none;
  border: none;
  color: var.$secondary-color;
  cursor: pointer;
  transition: var.$transition;
  &:hover {
    color: var.$tertiary-color;
  }
}

.btn {
  font-size: 1rem;
  border: 1px solid var.$secondary-color;
  background-color: var.$primary-color;
  @include mix.px(var.$space_6);
  @include mix.py(var.$space_2);
  transition: all 200ms ease-in;
  &:hover {
    border-color: var.$tertiary-color;
    background-color: var.$tertiary-color;
    color: var.$white;
  }
  &:focus {
    outline: none;
  }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 0.45rem;
  height: 0.45rem;
}

::-webkit-scrollbar-track {
  background-color: none;
  border-radius: 1rem;
  border: 1px solid var.$border-color;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #027791;
}

h2 {
  color: var.$tertiary-color;
  position: absolute;
  background-color: var.$primary-color;
  @include mix.px(var.$space_4);
  @include mix.py(var.$space_4);
  top: -30px;
  font: {
    size: 20px;
    weight: bold;
  }
  @include res.tablet {
    top: -35px;
    font-size: 25px;
  }
}

h3 {
  color: var.$tertiary-color;
  font: {
    size: 16px;
    weight: bold;
  }
  margin-bottom: var.$space_6;
  @include res.tablet {
    font-size: 22px;
  }
}

.section-content {
  max-width: 1100px;
  padding-left: var.$space_2;
  @include res.tablet {
    padding-top: var.$space_6;
    padding-bottom: var.$space_10;
  }
  @include res.laptop {
    padding-left: var.$space_6;
    padding-right: var.$space_8;
  }
  @include res.desktop {
    max-width: 1400px;
    padding-left: var.$space_10;
    padding-right: var.$space_18;
  }
}
.section {
  position: relative;
  margin-top: 5%;
  @include mix.py(var.$space_16);
  // @include mix.px(var.$space_4);
  @include mix.padding-x;
  border-top: 1px solid var.$border-color;
}

input,
textarea {
  border: 1px solid var.$secondary-color;
  resize: none;
  color: var.$secondary-color;
  background-color: var.$primary-color;
  font-size: 1em;
  width: 100%;
  @include mix.px(var.$space_4);
  @include mix.py(var.$space_3);
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #276472;
  }
}

.error-container {
  overflow: hidden;
  .error {
    color: var.$red;
    font-size: 0.9em;
    transition: var.$transition;
    // transform: translateY(-110%);
    animation: down 0.3s ease-in-out;
    font: {
      size: 0.8em;
      weight: 400;
    }
    padding-left: var.$space_1;
    display: flex;
    align-items: center;
    gap: var.$space_2;

    &.show {
      transform: translateY(0);
    }
    &.hide {
      // transform: translateY(-110%);
      animation: down 0.3s ease-in-out;
    }
  }
}
