@use './responsive' as res;

@mixin  font-family {
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
}

//margin
@mixin mx($margin) {
    margin: {
        left: $margin;
        right: $margin;
    }
}

@mixin my($margin) {
    margin: {
        top: $margin;
        bottom: $margin;
    }
}

@mixin px($padding) {
    padding: {
        left: $padding;
        right: $padding;
    }
}

@mixin py($padding) {
    padding: {
        top: $padding;
        bottom: $padding;
    }
}

@mixin padding-x {
    @include px($space_4);
    @include res.large-mobile {
        @include px($space_5)
    }
    @include res.tablet {
        @include px($space_8)
    }
    @include res.laptop {
        padding-right: $space_24;
    }
}