@use './responsive' as res;
@use './variables' as var;

@mixin font-family {
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
}

//margin
@mixin mx($margin) {
  margin: {
    left: $margin;
    right: $margin;
  }
}

@mixin my($margin) {
  margin: {
    top: $margin;
    bottom: $margin;
  }
}

@mixin px($padding) {
  padding: {
    left: $padding;
    right: $padding;
  }
}

@mixin py($padding) {
  padding: {
    top: $padding;
    bottom: $padding;
  }
}

@mixin padding-x {
  @include px(var.$space_4);
  @include res.large-mobile {
    @include px(var.$space_6);
    padding-right: var.$space_2;
  }
  @include res.tablet {
    @include px(var.$space_8);
    padding-right: var.$space_10;
  }
  @include res.laptop {
    padding-right: var.$space_24;
  }
}

@mixin box {
  border: 1px solid var.$border-color;
  background-color: var.$primary-light-color;
  animation: fadeIn 0.6s ease-in-out;
  // border-radius: var.$space_1;
  @include px(var.$space_4);
  padding-top: var.$space_8;
  padding-bottom: var.$space_12;
  @include res.tablet {
    // border-radius: var.$space_1_5;
  }
  @include res.laptop {
    // padding-top: var.$space_14;
    @include px(var.$space_8);
    // padding-bottom: var.$space_20;
    // border-radius: var.$space_2;
  }
}
